@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction:column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* { padding: 0; margin: 0; }

.header{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 225px;
    padding-top: 12px;
}

.header ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.header ul li a,
.text,
.sign-up-button {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
}

.first-part-wrapper{
    background-color: #1f2937;
}

 .text h1{
    font-size: 48px;
    font-weight: bold;
    color:#f9faf8;
    width: 400px;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.main-content .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
    gap: 10px;
}

.main-content img{
    width: 500px;
    height:250px;
}

.sign-up-button{
    height: 30px;
    width: 120px;
    background-color: #3882f6;
    border-radius: 7px;
    border: none;
}